<div class="container-fluid view-area">
  <div class="row">

    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/new-project']">Project Selection</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active btn-info" (click)="showDataEntry()" data-toggle="tab">Project Entry</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active btn-info" (click)="showSectors()" data-toggle="tab">Sectors</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active btn-info" (click)="showLocations()" data-toggle="tab">Locations</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active btn-info" (click)="showDocuments()" data-toggle="tab">Documents</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active btn-info" (click)="showFunders()" data-toggle="tab">Funders</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link active btn-info" (click)="showImplementers()" data-toggle="tab">Implementers</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div *ngIf="isError" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong> {{errorMessage}}
    </div>
  </div>

  <!--Data entry tab for projects-->
  <div *ngIf="currentTab == 'project'" class="row">
  
    <div class="col-md-6 col-sm-6">
      <div class="card card-signin my-5">
        <div class="card-body iati-box">
          <h5 class="card-title text-center">Selected Projects</h5>
          <table class="table table-bordered">
            <tr *ngFor="let project of selectedProjects">
              <td>
                <b>Project Title: </b>{{project.title}}<br />
                <b>From: </b>{{project.type}}<br />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--Data entry box-->
    <div class="col-md-6 col-sm-6">
      <div class="card card-signin my-5">
        <div class="card-body iati-box">
          <h5 class="card-title text-center">New Project</h5>
  
        </div>
      </div>
    </div>
  
  </div>
  <!--End of data entry tab-->

  <!--Sectors tab for projects-->
  <div *ngIf="currentTab == 'sector'" class="row">
  
      <div class="col-md-6 col-sm-6">
        <div class="card card-signin my-5">
          <div class="card-body iati-box">
            <h5 class="card-title text-center">Sectors</h5>
            <table class="table table-bordered">
              <tr *ngFor="let project of selectedProjects">
                <td>
                  <b>Project Title: </b>{{project.title}}<br />
                  <b>From: </b>{{project.type}}<br />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--Data entry box-->
      <div class="col-md-6 col-sm-6">
        <div class="card card-signin my-5">
          <div class="card-body iati-box">
            <h5 class="card-title text-center">Manage Sectors</h5>
    
          </div>
        </div>
      </div>
    
    </div>
    <!--End of data entry tab-->

</div>
