<div class="container view-area">
  <block-ui>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Notifications</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="row text-center" *ngIf="isLoading">
        <div class="col-md-12">
          <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-stripped">
            <tr *ngFor="let notification of notifications; let i = index">
              <td>
                <span class="badge badge-info lead">
                  {{i + 1}}
                </span>
                <span class="text-info margin-left-5">
                  {{notification.message}}<br />
                </span>
                <span class="text-info">
                    <b>Organization name: {{notification.organization}}</b> <br />
                </span>
                <span class="text-warning">
                    <b><i>Dated: {{notification.dated}}</i></b>
                </span>
              </td>
              <td *ngIf="notification.notificationType == 1">
                <button class="btn btn-warning"
                  (click)="activateUserAccount($event, notification.treatmentId, notification.id)">Approve</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-12" *ngIf="notifications.length == 0">
        <span class="text-info">
          <i>No notifications found.</i>
        </span>
      </div>

    </div>
  </block-ui>
</div>

<info-modal message={{infoMessage}}></info-modal>
<error-modal message={{errorMessage}}></error-modal>