<div class="container-fluid view-area">

  <block-ui>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Fields List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/manage-custom-field']">Create New</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" placeholder="{{inputTextHolder}}" class="form-control" id="criteria"
            (input)="searchCurrencies()" [(ngModel)]="criteria" name="criteria" #criteriaModel="ngModel"
            onkeypress="return event.keyCode != 13;" maxlength="3" required>
          <span class="input-group-btn">
            <button class="btn btn-outline-info btn-lg" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row text-center" *ngIf="isLoading">
      <div class="col-md-12">
        <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
      </div>
    </div>

    <div *ngIf="!isLoading" class="row">
      <div *ngIf="filteredCustomFields.length > 0" class="col margin-top-10">
        <table class="table table-bordered table-stripped">
          <tr>
            <th>Field Name</th>
            <th>Type</th>
            <th>Values</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let field of filteredCustomFields | paginate: { itemsPerPage: pagingSize, currentPage: p }">
            <td>{{field.fieldTitle}}</td>
            <td>{{getFieldType(field.fieldType)}}</td>
            <td>{{displayFieldValues(field.values)}}</td>
            <td>
                <a title="Delete" (click)="edit(field.id)" class="btn btn-info"><i
                  class="fa fa-edit color-white"></i></a>&nbsp;

              <a title="Delete" (click)="delete(field.id)" class="btn btn-danger"><i
                  class="fa fa-trash color-white"></i></a>
            </td>
          </tr>
        </table>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div>
      <div class="col-md-12 text-info" *ngIf="filteredCustomFields.length == 0">
        <i>No custom Fields to show</i>
      </div>
    </div>

  </block-ui>
</div>

<error-modal message="{{errorMessage}}"></error-modal>