<div class="container-fluid view-area">
  <block-ui>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
        <div class="card card-signin my-5 margin-top-10">
          <div class="card-body">
            <div *ngIf="isError" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error!</strong> {{errorMessage}}
            </div>
            <span class="text-center"><h5>Contact form</h5></span>
            <div *ngIf="isShowSuccessMessage" class="alert alert-info alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Information!</strong> {{successMessage}}
            </div>
            <form class="form-signin" (ngSubmit)="contactForm.form.valid && sendEmailRequest(contactForm)"
              #contactForm="ngForm">

              <div *ngIf="!isLoggedIn" class="form-group">
                <label for="senderEmail">Your email</label>
                <input type="email" class="form-control" id="senderEmail" [(ngModel)]="model.senderEmail" name="senderEmail"
                  #senderEmail="ngModel" maxlength="255" required />
                <div *ngIf="contactForm.submitted" [hidden]="senderEmail.valid" class="alert alert-danger">
                  Email is required
                </div>
              </div>

              <div class="form-group">
                <label for="senderName">Your name</label>
                <input type="text" class="form-control" id="senderName" [(ngModel)]="model.senderName" name="senderName"
                  #senderName="ngModel" maxlength="30" required />
                <div *ngIf="contactForm.submitted" [hidden]="senderName.valid" class="alert alert-danger">
                  Name is required
                </div>
              </div>

              <div class="form-group">
                <label for="emailType">Request type</label>
                <select class="form-control" id="emailType" [(ngModel)]="model.emailType" name="emailType"
                  #emailType="ngModel" (change)="changeRequest()" required>
                  <option value=null>-- Request type --</option>
                  <option *ngFor="let type of emailTypes" value="{{type.val}}">
                    {{type.text}}
                  </option>
                </select>
                <div *ngIf="contactForm.submitted" [hidden]="emailType.valid" class="alert alert-danger">
                  Request type is required
                </div>
              </div>

              <div *ngIf="model.emailType == emailTypeCodes.INFORMATION" class="input-group">
                <input [class.disable]="model.projectId != 0" type="text" placeholder="Enter project name to search"
                  class="form-control" id="criteria" (input)="filterProjects()" [(ngModel)]="criteria" name="criteria"
                  #criteriaModel="ngModel" onkeypress="return event.keyCode != 13;" maxlength="200" />&nbsp;
                  <span class="input-group-btn">
                    <button [class.disable]="isShowList" title="Show projects list" class="btn btn-success btn-lg" (click)="showProjectsList()" type="button">
                      <i class="fa fa-list"></i>
                    </button>
                    &nbsp;
                    <button [class.disable]="model.projectId == 0" title="Clear" class="btn btn-danger btn-lg" (click)="clear()"
                      type="button">
                      <i class="fa fa-close"></i>
                    </button>
                  </span>
              </div>

              <div *ngIf="model.emailType == emailTypeCodes.INFORMATION && isShowList == true" class="list-box-small margin-top-5">
                <table *ngIf="filteredProjectsList.length > 0" class="table table-bordered">
                  <tr *ngFor="let project of filteredProjectsList">
                    <td>{{project.title}}</td>
                    <td>
                      <button [class.disable]="model.projectId == project.id" type="button" id="project-{{project.id}}"
                        (click)="selectProject($event)" class="btn btn-success"><i id="iproject-{{project.id}}"
                          class="fa fa-check"></i></button>
                    </td>
                  </tr>
                </table>
                <span class="text-info" *ngIf="filteredProjectsList.length == 0 && !isLoading">
                  <i>No projects to show</i>
                </span>
                <span *ngIf="isLoading" class="text-center">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
                </span>
              </div>

              <div *ngIf="!isShowList" class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" [(ngModel)]="model.subject" name="subject"
                  #subject="ngModel" maxlength="50" required />
                <div *ngIf="contactForm.submitted" [hidden]="subject.valid" class="alert alert-danger">
                  Subject is required
                </div>

                <div *ngIf="!isShowList" class="form-group">
                  <label>Message <span class="text-info">(Max characters: {{messageLimit}} Left: {{messageLimitLeft}})</span></label>
                  <textarea rows="5" class="form-control" id="message" (input)="getMessageLimitInfo()" [(ngModel)]="model.message" name="message"
                    #message="ngModel" maxlength="{{messageLimit}}" required></textarea>
                  <div *ngIf="contactForm.submitted" [hidden]="message.valid" class="alert alert-danger">
                    Message is required
                  </div>
                </div>
              </div>

                <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit">Send request</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </block-ui>
</div>

<error-modal message={{errorMessage}}></error-modal>