<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Register Organization</h5>

        <form (ngSubmit)="registerUser()" class="example-form" [formGroup]='usersForm'>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Choose/Enter your Organization" [matAutocomplete]="auto" formControlName='userInput'>
          </mat-form-field>
        
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let organization of filteredOrganizations" [value]="organization">
                <span>{{ organization.organizationName }}</span>
                <small> | ID: {{organization.id}}</small>
              </mat-option>
            </ng-container>
          </mat-autocomplete>

          <div class="form-group">
            <label for="organizationType">Organization Type</label>
            <select class="form-control" id="organizationType" required formControlName="organizationType">
              <option *ngFor="let oType of organizationTypes" [value]="oType.id">{{oType.typeName}}</option>
            </select>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
        </form>

      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #infoModal identifier="infoModal">
  <h1>Information</h1>
  <p>User registration information submitted successfully.</p>
  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>