<div class="container-fluid view-area">
  <block-ui>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Exchange rates & settings</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 margin-top-10">

        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" type="date" name="searchDate"
            [(ngModel)]="model.searchDate" [maxDate]="calendarMaxDate" ngbDatepicker #c="ngbDatepicker" required>
          <span class="input-group-btn">
            <button title="Search" class="btn btn-outline-info btn-lg" (click)="searchManualRates()" type="button">
              <i class="fa fa-search"></i>
            </button>&nbsp;
            <button title="Show all" class="btn btn-outline-warning btn-lg" (click)="showAllManualRates()"
              type="button">
              <i class="fa fa-list"></i>
            </button>
          </span>
        </div>

        <div class="card card-signin my-5 margin-top-10">
          <div class="card-body iati-box">
            <form class="form-inline" (ngSubmit)="rateForm.form.valid && saveRate(rateForm)" #rateForm="ngForm">
              <div class="form-group mb-2">
                <input type="text" pattern="\d*" class="form-control" id="exchangeRate" [(ngModel)]="model.exchangeRate"
                  name="exchangeRate" #exchangeRate="ngModel" maxlength="6" required>
                <div *ngIf="rateForm.submitted" [hidden]="exchangeRate.valid" class="alert alert-danger">
                  Valid exchange rate is required
                </div>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" placeholder="yyyy-mm-dd" type="date" name="dated" [(ngModel)]="model.dated"
                  ngbDatepicker #s="ngbDatepicker" required>
              </div>
              <button type="submit" class="btn btn-warning mb-2 text-uppercase">Save new rate</button>
            </form>

            <h6 class="card-title text-center">Ex. rates from (African Bank) for 1 {{defaultCurrency}} to {{nationalCurrency}}</h6>
            <table *ngIf="filteredManualExchangeRates.length > 0" class="table table-bordered">
              <tr>
                <th>Ex. rate</th>
                <th>Dated</th>
                <th>Action</th>
              </tr>
              <tr
                *ngFor="let cur of filteredManualExchangeRates  | paginate: { itemsPerPage: pagingSize, currentPage: p }">
                <td>{{cur.exchangeRate}}</td>
                <td>{{formatDate(cur.dated)}}</td>
                <td>
                  <button id="btndel-{{cur.id}}" (click)="deleteRate($event)" class="btn btn-danger">
                    <i id="ibtndel-{{cur.id}}" class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <pagination-controls (pageChange)="p=$event"></pagination-controls>
                </td>
              </tr>
            </table>
            <span *ngIf="filteredManualExchangeRates.length == 0 && !isLoading" class="text-info">
              <i>No ex. rates to show.</i>
            </span>
          </div>
        </div>

        <div class="row text-center" *ngIf="isLoading">
          <div class="col-md-12">
            <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading rates...</span>
          </div>
        </div>

      </div>

      <div class="col-sm-12 col-md-6 margin-top-10">
        <!--API key settings-->
        <div class="card card-signin margin-top-10 my-5">
          <div class="card-body">
            <form class="form-signin" (ngSubmit)="saveAPIKey()" #rateForm="ngForm">
              <div class="form-group">
                <label for="apiKey"><b>OpenExchangeRate API key</b></label>
                <input type="text" class="form-control" id="apiKey" [(ngModel)]="model.apiKey" name="apiKey"
                  #apiKey="ngModel" maxlength="50">
                <div [hidden]="isAPIKeySet" class="alert alert-danger">
                  API key is not set yet. Enter the key to set now.
                </div>
                <div [hidden]="!isAPIKeySet" class="alert alert-info">
                  API key already set. Enter and save new, if you want to update.
                </div>
              </div>

              <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit">Save key</button>
            </form>

            <div class="margin-top-10 iati-box">
              <h6 class="card-title text-center">Ex. Rates from (OpenExchangeRates) for 1 USD ({{exchangeRateDate}})</h6>
              <table *ngIf="exchangeRates.length > 0" class="table table-bordered">
                <tr>
                  <th>Currency</th>
                  <th>Rate</th>
                </tr>
                <tr *ngFor="let cur of exchangeRates">
                  <td>{{cur.currencyName}}</td>
                  <td>
                    {{cur.rate}}
                  </td>
                </tr>
              </table>
              <span *ngIf="exchangeRates.length == 0 && !isLoading" class="text-info">No currencies to show.</span>
            </div>
          </div>
        </div>

        <div class="row text-center" *ngIf="isLoading">
          <div class="col-md-12">
            <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading currencies...</span>
          </div>
        </div>

      </div>

    </div>

  </block-ui>
</div>

<info-modal message={{infoMessage}}></info-modal>
<error-modal message={{errorMessage}}></error-modal>