<div class="container-fluid view-area">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card card-body">
          <h5 class="card-title text-center">Forgot Password</h5>
          <!--<form [formGroup]="frmForgotPassword" (submit)="submit()">
            <div class="form-group">
              <label for="email" [ngClass]="frmForgotPassword.controls['email'].invalid ? '' : ''">Email</label>
              <input id="email" formControlName="email" type="email" class="form-control" [ngModel]="email" [ngClass]="frmForgotPassword.controls['email'].invalid ? 'is-invalid' : ''">
              <label class="alert alert-danger" *ngIf="frmForgotPassword.controls['email'].hasError('pattern')">
                Email is not valid
              </label>
              <label class="alert alert-danger" *ngIf="frmForgotPassword.controls['email'].hasError('required')">
                Email is required
              </label>
            </div>
            <div class="example-form">
              <label for="confirmEmail" [ngClass]="frmForgotPassword.controls['confirmEmail'].invalid ? '' : ''">Confirm
                Email</label>
              <input id="confirmEmail" formControlName="confirmEmail" type="email" class="form-control"
                [ngClass]="frmForgotPassword.controls['confirmEmail'].invalid ? 'is-invalid' : ''">
              <label class="alert alert-danger" *ngIf="frmForgotPassword.controls['confirmEmail'].hasError('required')">
                Confirm email is required
              </label>
              <label class="alert alert-danger" *ngIf="frmForgotPassword.controls['confirmEmail'].hasError('NoEmailMatch')">
                Emails do not match
              </label>
            </div>
             <p></p>
            <div class="form-group">
            <button [class.disable]="isBtnDisabled" type="submit" class="btn btn-lg btn-info btn-block text-uppercase">{{btnText}}</button>
            </div>
          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>