<div class="container-fluid view-area">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/view-project/', model.projectId]">Back to Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn-info" data-toggle="tab">Project Location</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div *ngIf="isError" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{errorMessage}}
          </div>
          <h5 class="card-title text-center">New Project Location</h5>

          <form class="form-signin" (ngSubmit)="saveProjectLocation()" #locationForm="ngForm">
            <div class="form-group">
              <label for="locationId">Select Location</label>
              <select class="form-control" id="locationId" [(ngModel)]="model.locationId" name="locationId"
                #locationId="ngModel" required>
                <option *ngFor="let location of locations" [value]="location.id">{{location.location}}</option>
              </select>
              <div [hidden]="locationId.valid" class="alert alert-danger">
                Location is required
              </div>
            </div>

            <div class="form-group">
              <label for="text"> </label>
              <input type="number" class="form-control" id="percentage" [(ngModel)]="model.percentage" name="percentage"
                #percentage="ngModel" required>
              <div [hidden]="percentage.valid" class="alert alert-danger">
                 Fund percentage is required
              </div>
            </div>
        
            <button [class.disable]="isBtnDisabled" class="btn btn-lg btn-info btn-block text-uppercase" type="submit">{{btnText}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>