<div class="container-fluid view-area">
  <block-ui>

    <div class="row text-center">
      <div *ngIf="showMessage" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Information!</strong> {{infoMessage}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Projects list</a>
          </li>
        </ul>
      </div>
      <!--<div class="col-md-6">
        <div class="input-group mb-3">
          <input type="search" class="form-control" onkeypress="return event.keyCode != 13;" 
          placeholder="Enter project name to search" name="title" (input)="filterProjects()" [(ngModel)]="model.title" #title="ngModel"  aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button title="Advanced Search" class="btn btn-warning" (click)="showSearchOptions()" type="buttton">Advanced
              search</button>
          </div>
        </div>
      </div>-->
    </div>

    <div>
        <div class="card">
          <div class="card-body">
            <form class="form-signin" #searchForm="ngForm">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ng-multiselect-dropdown [placeholder]="'-- All project/s --'" title="Select/Search project titles" [data]="projectTitles"
                    [(ngModel)]="model.selectedProjects" 
                    [settings]="projectsSettings" name="selectedProjects"
                    (onSelect)="onSelectProject($event)" (onDeSelect)="onDeSelectProject($event)"
                    (onSelectAll)="onSelectAllProjects($event)" (onDeSelectAll)="onDeSelectAllProjects($event)"
                    #selectedProjects="ngModel"></ng-multiselect-dropdown>
                </div>
                <div class="col-lg-6 col-md-6">
                  <table>
                    <tr>
                      <td>
                        <select class="form-control" id="startingYear" [(ngModel)]="model.startingYear" name="startingYear"
                          #startingYear="ngModel" (change)="startingYearChanged()" required>
                          <option value="0">--Starting year--</option>
                          <option *ngFor="let year of yearsList" [value]="year.financialYear">{{year.label}}</option>
                        </select>
                      </td>
                      <td>&nbsp;&nbsp;</td>
                      <td>
                        <select class="form-control" id="endingYear" [(ngModel)]="model.endingYear" name="endingYear"
                          #endingYear="ngModel" (change)="endingYearChanged()" required>
                          <option value="0">--Ending year--</option>
                          <option *ngFor="let year of yearsList" [value]="year.financialYear">{{year.label}}</option>
                        </select>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-3 col-md-3">
                  <select class="form-control" id="sectorLevel" [(ngModel)]="model.sectorLevel" name="sectorLevel"
                    title="Sector level" #sectorLevel="ngModel" required (change)="manageSectorLevel();">
                    <option value="0">--Sector levels--</option>
                    <option *ngFor="let level of sectorLevels" [value]="level.id">{{level.level}}
                    </option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-3">
                  <ng-multiselect-dropdown [placeholder]="'-- All sector/s --'" title="sector/s" [data]="sectorsList"
                    [(ngModel)]="model.selectedSectors" [settings]="sectorsSettings" name="selectedSectors"
                    (onSelect)="onSelectSector($event)" (onDeSelect)="onDeSelectSector($event)"
                    (onSelectAll)="onSelectAllSectors($event)" (onDeSelectAll)="onDeSelectAllSectors($event)"
                    #selectedSectors="ngModel">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-md-6">
                  <ng-multiselect-dropdown [placeholder]="'-- Select Organization/s --'" [data]="organizationsList"
                    [(ngModel)]="model.selectedOrganizations" [settings]="organizationsSettings"
                    (onSelect)="onSelectOrganization($event)" (onDeSelect)="onDeSelectOrganization($event)"
                    (onSelectAll)="onSelectAllOrganizations($event)" (onDeSelectAll)="onDeSelectAllOrganizations($event)"
                     name="selectedOrganizations" #selectedOrganizations="ngModel">
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-6">
                  <ng-multiselect-dropdown [placeholder]="'-- Select Location/s --'" [data]="locationsList" [(ngModel)]="model.selectedLocations"
                    [settings]="locationsSettings"  name="selectedLocations" 
                    (onSelect)="onSelectLocation($event)" (onDeSelect)="onDeSelectLocation($event)"
                    (onSelectAll)="onSelectAllLocations($event)" (onDeSelectAll)="onDeSelectAllLocations($event)"
                    #selectedLocations="ngModel">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" title="Enter some keywords from project description to search" placeholder="Search project descriptions"
                  maxlength="100" name="description" (input)="descriptionChanged()" [(ngModel)]="model.description" #description="ngModel" />
                </div>
              </div>

              <div class="row margin-top-10">
                <div class="col-md-6">
                  <select name="financial-range" title="Select a financial range to filter projects" [(ngModel)]="model.financialRange"
                    (change)="changeFinancialRange()" class="form-control">
                    <option value="0">--Financial range (Any)--</option>
                    <option *ngFor="let range of financialRanges" value="{{range.id}}">
                      {{range.label}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <div class="float-right">
                    <button class="btn btn-info" (click)="advancedSearchProjects()">Search projects</button>
                    <button *ngIf="isAnyFilterSet" type="button"
                        class="btn btn-primary margin-left-2" (click)="resetFilters()">Reset filters</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
    </div>

    <div class="row text-center" *ngIf="isLoading">
      <div class="col-md-12">
        <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
      </div>
    </div>

    <div *ngIf="filteredProjectsList.length > 0" class="row">
      <div class="col margin-top-10">
        <table class="table table-bordered table-stripped">
          <tr>
            <th>Project title</th>
            <th>Project value (In {{defaultCurrency}})</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Updated on</th>
          </tr>
          <tr *ngFor="let project of filteredProjectsList | paginate: { itemsPerPage: pagingSize, currentPage: d, id: 'd' }">
            <td>
              <a title="View Details" class="text-info" [routerLink]="['/view-project', project.id]">
                {{project.title}}
              </a>
              <!--<span class="margin-left-10" *ngIf="isLoggedIn && isShowContactToUser(project.id)">
                <button class="btn btn-sm btn-outline-warning" (click)="contactProject(project.id)">Request a change</button>
              </span>
              <span class="margin-left-10" *ngIf="isLoggedIn && isShowDeleteProject(project.id)">
                <button class="btn btn-sm btn-outline-danger" (click)="makeDeleteRequest(project.id)">Make delete request</button>
              </span>-->
            </td>
            <td>{{formatNumber(project.projectValueInDefaultCurrency)}}</td>
            <td>{{formatDateUKStyle(project.startDate)}}</td>
            <td>{{formatDateUKStyle(project.endDate)}}</td>
            <td>{{formatDateUKStyle(project.dateUpdated)}}</td>
          </tr>
        </table>
        <pagination-controls (pageChange)="d = $event" id="d"></pagination-controls>
      </div>
    </div>
    <div *ngIf="filteredProjectsList.length == 0" class="row">
      <div class="col-md-12 margin-top-10">
          <p class="text-info"><i>No projects to show</i></p>
      </div>
    </div>
  </block-ui>

  <error-modal message={{errorMessage}}></error-modal>
  <info-modal message={{successMessage}}></info-modal>
</div>