<div class="container-fluid view-area">
  <block-ui>
    
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/projects']">Projects List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Project Detail</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
    </div>
    <!--Loading project data -->
    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Project Detail</div>
            <div class="card-body">
              <div class="row text-center" *ngIf="isLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
                </div>
              </div>
              <table class="table table-stripped">
                <tr>
                  <td><b>Id: </b></td>
                  <td>{{projectData.id}}</td>
                  <td><b>Title: </b></td>
                  <td>{{projectData.title}}</td>
                </tr>
                <tr>
                  <td><b>Start Date: </b></td>
                  <td>{{projectData.startDate}}</td>
                  <td><b>End Date: </b></td>
                  <td>{{projectData.endDate}}</td>
                </tr>
                <tr>
                  <td><b>Description: </b></td>
                  <td colspan="3">
                    {{projectData.description}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Project Locations-->
    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Locations
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectLocation()">Add Project Location</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isLocationLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading locations...</span>
                </div>
              </div>
              <table *ngIf="projectLocations.length > 0" class="table table-stripped">
                <tr>
                  <th>Location</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                </tr>
                <tr *ngFor="let location of projectLocations">
                  <td>{{location.location}}</td>
                  <td>{{location.latitude}}</td>
                  <td>{{location.longitude}}</td>
                  <!-- <td>
                    <a title="Remove Location" (click)="deleteProjectLocation(projectId, location.id)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectLocations.length == 0 && !isLocationLoading">No project locations found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Sectors
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectSector()">Add Project Sector</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isSectorLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading sectors...</span>
                </div>
              </div>

              <table *ngIf="projectSectors.length > 0" class="table table-stripped">
                <tr>
                  <th>Sector</th>
                  <th>Funds Percentage</th>
                </tr>
                <tr *ngFor="let sector of projectSectors">
                  <td>{{sector.sector}}</td>
                  <td>{{sector.fundsPercentage}}</td>
                  <!-- <td>
                    <a title="Remove Sector" (click)="deleteProjectSector(projectId, sector.sectorId)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectSectors.length == 0 && !isSectorLoading">No project sectors found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Funders
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectFunder()">Add Project Funder</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isFunderLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading funders...</span>
                </div>
              </div>

              <table *ngIf="projectFunders.length > 0" class="table table-stripped">
                <tr>
                  <th>Funder</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Exchange Rate</th>
                </tr>
                <tr *ngFor="let funder of projectFunders">
                  <td>{{funder.funder}}</td>
                  <td>{{funder.amount}}</td>
                  <td>{{funder.currency}}</td>
                  <td>{{funder.exchangeRate}}</td>
                  <!-- <td>
                    <a title="Remove Funder" (click)="deleteProjectFunder(projectId, funder.funderId)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectFunders.length == 0 && !isFunderLoading">No project funders found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Project Implementers-->
    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Implementers
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectImplementer()">Add Project Implementer</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isImplementerLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading implementers...</span>
                </div>
              </div>

              <table *ngIf="projectImplementers.length > 0" class="table table-stripped">
                <tr>
                  <th>Id</th>
                  <th>Implementer</th>
                </tr>
                <tr *ngFor="let implementer of projectImplementers">
                  <td>{{implementer.implementerId}}</td>
                  <td>{{implementer.implementer}}</td>
                  <!-- <td>
                    <a title="Remove Implementer" (click)="deleteProjectImplementer(projectId, implementer.implementerId)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectImplementers.length == 0 && !isImplementerLoading">No project implementers found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Project Disbursements-->
    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Disbursements
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectDisbursement()">Add Project Disbursement</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isDisbursementLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading disbursements...</span>
                </div>
              </div>

              <table *ngIf="projectDisbursements.length > 0" class="table table-stripped">
                <tr>
                  <th>Starting Month/Year</th>
                  <th>Ending Month/Year</th>
                  <th>Amount</th>
                </tr>
                <tr *ngFor="let disbursement of projectDisbursements">
                  <td>{{monthStrings[disbursement.startingMonth]}}, {{disbursement.startingYear}}</td>
                  <td>{{monthStrings[disbursement.endingMonth]}}, {{disbursement.endingYear}}</td>
                  <td>{{disbursement.amount}}</td>
                  <!-- <td>
                    <a title="Remove Disbursement" (click)="deleteProjectDisbursement(disbursement.projectId, disbursement.startingYear, disbursement.startingMonth)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectDisbursements.length == 0 && !isDisbursementLoading">No project disbursements found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Project Documents-->
    <div class="row">
      <div class="col margin-top-10">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="float-left">
                Project Documents
              </span>
              <!--<span *ngIf="permissions.canEditProject" class="float-right">
                <button class="btn btn-success" (click)="addProjectDocument()">Add Project Document</button>
              </span>-->
            </div>
            <div class="card-body">
              <div class="row text-center margin-top-10" *ngIf="isDocumentLoading">
                <div class="col-md-12">
                  <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading documents...</span>
                </div>
              </div>

              <table *ngIf="projectDocuments.length > 0" class="table table-stripped">
                <tr>
                  <th>Document Title</th>
                  <th>Url</th>
                </tr>
                <tr *ngFor="let document of projectDocuments">
                  <td>{{document.documentTitle}}</td>
                  <td>{{document.documentUrl}}</td>
                  <!-- <td>
                    <a title="Remove Document" (click)="deleteProjectDocument(document.id)" class="btn btn-danger"><i
                        class="fa fa-trash color-white"></i></a>
                  </td> -->
                </tr>
              </table>
              <p *ngIf="projectDocuments.length == 0 && !isDocumentLoading">No project documents found.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </block-ui>
</div>