<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
          
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [class.disable]='disableEmail' id="Email" [(ngModel)]="model.Email" required [(ngModel)]="model.Email" name="Email" #Email="ngModel">
            <div [hidden]="Email.valid || Email.pristine || (!Email.errors)" class="alert alert-danger">
              Enter email address
            </div>
            <div [hidden]="!emailNotAvailable" class="alert alert-danger">
              Email Address already taken
            </div>
            <button *ngIf="!isEmailOk" class="btn btn-sm btn-info btn-block text-uppercase" type="button" (click)="checkIfEmailAvailable()">Check Email</button>
          </div>
          
          <div *ngIf="isEmailOk">
            <div class="form-group">
              <label for="name">Display Name</label>
              <input type="text" class="form-control" id="displayName" required [(ngModel)]="model.DisplayName" [elFocus]="isNameFocus" name="DisplayName" #DisplayName="ngModel">
              <div [hidden]="DisplayName.valid || DisplayName.pristine" class="alert alert-danger">
                Display name is required
              </div>
            </div>
  
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="model.Password" required [(ngModel)]="model.Password" name="Password" #Password="ngModel">
              <div [hidden]="Password.valid || Password.pristine" class="alert alert-danger">
                Password is required
              </div>
            </div>
  
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="ConfirmPassword" [(ngModel)]="model.ConfirmPassword" required [(ngModel)]="model.ConfirmPassword" name="ConfirmPassword" #ConfirmPassword="ngModel">
              <div [hidden]="model.Password == model.ConfirmPassword || model.ConfirmPassword.length == 0" class="alert alert-danger">
                Passwords do not match
              </div>
            </div>
  
            <div class="form-group">
              <label for="UserType">User Type</label>
              <select class="form-control" id="UserType" required [(ngModel)]="model.UserType" name="UserType" #UserType="ngModel">
                <option *ngFor="let uType of userTypes" [value]="uType.id">{{uType.typeName}}</option>
              </select>
              <div [hidden]="UserType.valid || UserType.pristine" class="alert alert-danger">
                Select a user type
              </div>
            </div>

            <div class="form-group">
              
            </div>
            
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>