<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom navbar-custom-background box-shadow">
  <!--<h5 class="my-0 mr-md-auto font-brand">AIMS Somalia</h5>-->
  <h5 class="my-0 font-brand">AIMS Somalia</h5>
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item ten-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/projects']">View Projects</a>
      </li>
      <li class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/reports']">View Reports</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/data-entry']">Data Entry</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/management']">Management</a>
      </li>
    </ul>
  </nav>
  
  <div class="ml-md-auto">
    <a *ngIf="!isLoggedIn" class="btn btn-outline-primary sign-in-btn" [routerLink]="['/login']">Login</a>
    <button *ngIf="isLoggedIn" class="btn btn-outline-primary sign-in-btn" (click)="logout($event)">Logout</button>
  </div>
  
</div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
