<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom navbar-custom-background box-shadow">
  <h5 class="my-0 mr-md-auto font-brand">AIMS Somalia</h5>
  <h5 class="my-0 font-brand">AIMS Somalia</h5>
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item ten-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/projects']">View Projects</a>
      </li>
      <li class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/reports']">View Reports</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/data-entry']">Data Entry</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item five-px-left-padding">
        <a class="nav-link anchor-menu" [routerLink]="['/management']">Management</a>
      </li>
    </ul>
  </nav>
  
  <div class="ml-md-auto">
    <a *ngIf="!isLoggedIn" class="btn btn-outline-primary sign-in-btn" [routerLink]="['/login']">Login</a>
    <button *ngIf="isLoggedIn" class="btn btn-outline-primary sign-in-btn" (click)="logout($event)">Logout</button>
  </div>
  
</div>-->

<div class="container-fluid">
  <div class="row">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-info">
      <a class="navbar-brand" [routerLink]="['/home']">AIMS Somalia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"> 
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active-link">View Projects</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View
              Reports</a>
            <div class="dropdown-menu">
              <h5 class="dropdown-header">Projects</h5>
              <a class="dropdown-item" [routerLink]="['/project-report']">Projects Report</a>
            </div>
          </li>
          <!--<li *ngIf="isLoggedIn" class="nav-item"> 
                      <a class="nav-link" [routerLink]="['/new-project']">Data Entry</a>
                    </li>-->
          <!--<li *ngIf="isLoggedIn" class="nav-item"> 
                      <a class="nav-link" [routerLink]="['/management']">Management</a>
                    </li>-->
          <!--<li class="nav-item"> <a class="nav-link" [routerLink]="['/notification']">Notifications</a>
                              </li>-->
          
          <li *ngIf="isLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Entry</a>
            <div class="dropdown-menu">
              <h5 class="dropdown-header">Data Entry</h5>
              <a class="dropdown-item" [routerLink]="['/new-project']">Enter Data</a>
              <a class="dropdown-item" [routerLink]="['/envelope-data']">Funding Envelope Data</a>
            </div>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Management</a>
            <div class="dropdown-menu">
              <h5 class="dropdown-header">Field Management</h5>
              <a class="dropdown-item" [routerLink]="['/locations']">Locations</a>
              <a class="dropdown-item" [routerLink]="['/sectors']">Sectors</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Users & Organizations Management</h5>
              <a class="dropdown-item" [routerLink]="['/manage-account']">Account Management</a>
              <a class="dropdown-item" [routerLink]="['/organizations']">Organizations</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">AIMS Management</h5>
              <a class="dropdown-item" [routerLink]="['/smtp-settings']">Email Settings</a>
              <a class="dropdown-item" [routerLink]="['/iati-settings']">IATI Settings</a>
            </div>
          </li>
          <!--<li *ngIf="isLoggedIn" class="nav-item active"> 
            <a class="nav-link" [routerLink]="['/notification']">Notifications <span class="badge badge-pill badge-danger">{{notificationsCount}}</span></a>
          </li>-->
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li *ngIf="!isLoggedIn" class="nav-item"> <a class="nav-link" [routerLink]="['/login']">Log In</a>
          <li *ngIf="isLoggedIn" class="nav-item"> <a class="nav-link" [routerLink]="" (click)="logout($event)">Log Out</a>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>