html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .navbar-custom-background {
    background-color: #0069D9 !important;
  }

  .font-brand {
    color: #fff !important;
    font-weight: 600 !important;
  }

  .anchor-menu {
    color: #fff;
  }

  .anchor-menu:hover {
    color: #abd4fc;
  }
  
  .sign-in-btn {
    color: #fff;
    border-color: #fff;
  }

  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { 
    /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/ 
    box-shadow: 0 .25rem .75rem rgba(0, 105, 217, .1);
  }

  /*custom css for validation*/
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  /*End of css for validation*/

  /*For custom auto complete*/
  .autocomplate input:not([type]), input[type="text"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  /*End of auto complate*/

  .margin-top-10 {
    margin-top: 10px !important;
  }

  .margin-top-5 {
    margin-top: 5px !important;
  }

  .disable {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }

  .display-block {
    display: block !important;
    width: 100% !important;
  }

  .view-area {
    margin: 70px 10px 10px 10px !important;
  }

  .ten-px-left-padding {
    padding-left: 10px !important;
  }

  .five-px-left-padding {
    padding-left: 5px !important;
  }

  .five-px-right-padding {
    padding-left: 5px !important;
  }

  /*Css for Dashboard*/
  .font-dashboard-menu-item {
    font-size: 36px;
    font-weight: bold;
  }

  .margin-top-20 {
    margin-top: 20px !important;
  }

  .color-white {
    color: #fff;
  }
  /*End of Dashboard*/

  /*Management Page*/
  .font-management-menu-item {
    font-size: 20px;
    font-weight: bold;
  }

  .font-management-menu-item a {
    text-decoration: none;
  }
  /*End of Management Page*/

  .padding-10 {
    padding: 10px !important;
  }

  .margin-left-5 {
    margin-left: 5px;
  }

  .margin-top-5 {
    margin-top: 5px !important;
  }

  .margin-top-0 {
    margin-top: 0px !important;
  }

  .margin-top-20 {
    margin-top: 20px !important;
  }

  .margin-left-10 {
    margin-left: 10px !important;
  }

  .margin-top-30 {
    margin-top: 30px !important;
  }

  .margin-top-40 {
    margin-top: 40px !important;
  }

  .margin-top-50 {
    margin-top: 50px !important;
  }

  .margin-left-15 {
    margin-left: 15px !important;
  }

  .margin-right-15 {
    margin-right: 15px !important;
  }

  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }

  .margin-right-60 {
    margin-right: 60px !important;
  }

  .margin-bottom-0 {
    margin-bottom: 0px;
  }

  .margin-bottom-none {
    margin-bottom: 0rem !important
  }

  .iati-box {
    max-height: 620px;
    overflow-y: auto;
    overflow-x: hidden; 
  }

  table.row-highlight tr:first-child:hover {
    background: lightgoldenrodyellow !important;
    cursor: pointer;
  }

  table tr.child {
    background: #eeeeee;
  }

  .bold-italic {
    font-weight: bold;
    font-style: italic;
  }

  .sticky {
    position: fixed;
    top: 200;
    overflow: hidden;
    z-index: 10;
  }

  .table-fixed-layout {
    table-layout: fixed; 
    width: 100%;
  }

  .word-wrap {
    word-wrap: break-word;
  }

  .list-box-small {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden; 
  }

  .disabledDiv {
    pointer-events: none;
    opacity: 0.4;   
  }

  table.no-borders td {
    border-color: transparent !important;
    padding: 2px;
  }

  .active-link {
    color: #fff !important;
  }

  .split-box {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /*
  Custom checkbox
  */
  .btn span.fa {    			
    opacity: 0;				
  }
  .btn.active span.fa {				
    opacity: 1;				
  }

  /*
  For printing
  */
  @media print {
    .canvas-container {
        max-width: 100%;
        padding-bottom: 50%; /* Canvas is 2000x1000, this will set the height to 50% of width */
        position: relative;
    }
    canvas{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    img {
      object-fit: fill;
    }
}
/**
End printing
*/

  /*
  Reports CSS
  */
  .report-subtitle {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }

  /*Css for calendar button on ng-datepicker*/
  button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  /*end of ng-datepicker*/

  /*For all kind long text not to break*/
  .dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }

  /*Custom css for different screens*/
  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
    .mat-form-field-flex {
      width: 450px !important;
    }
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  
  