html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .navbar-custom-background {
    background-color: #0069D9 !important;
  }

  .font-brand {
    color: #fff !important;
    font-weight: 600 !important;
  }

  .anchor-menu {
    color: #fff;
  }

  .anchor-menu:hover {
    color: #abd4fc;
  }
  
  .sign-in-btn {
    color: #fff;
    border-color: #fff;
  }

  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { 
    /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/ 
    box-shadow: 0 .25rem .75rem rgba(0, 105, 217, .1);
  }

  /*custom css for validation*/
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  /*End of css for validation*/

  .margin-top-10 {
    margin-top: 10px !important;
  }

  .disable {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
  