<div class="container-fluid view-area">
  
<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active btn-info" data-toggle="tab" >Locations List</a>
      </li>
      <li *ngIf="permissions.canEditLocation" class="nav-item">
        <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/manage-location']">Create New</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter location name" [(ngModel)]="criteria" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-info" (click)="searchLocations()" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center" *ngIf="isLoading">
  <div class="col-md-12">
    <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="row">
  <div class="col margin-top-10">
    <table class="table table-bordered table-stripped">
      <tr>
        <th>Location Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th *ngIf="permissions.canEditLocation">Actions</th>
      </tr>
      <tr *ngFor="let loc of locationsList | paginate: { itemsPerPage: pagingSize, currentPage: p }">
        <td>{{loc.location}}</td>
        <td>{{loc.latitude}}</td>
        <td>{{loc.longitude}}</td>
        <td *ngIf="permissions.canEditLocation">
          <a title="Edit" (click)="edit(loc.id)" class="btn btn-success"><i class="fa fa-edit color-white"></i></a>
        </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
</div>