<div class="container-fluid view-area">
  
<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active btn-info" data-toggle="tab" >Locations list</a>
      </li>
      <li *ngIf="permissions.canEditLocation" class="nav-item">
        <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/manage-location']">Create new</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter location name" [(ngModel)]="criteria" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-info" (click)="searchLocations()" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center" *ngIf="isLoading">
  <div class="col-md-12">
    <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="row">
  <div *ngIf="locationsList.length > 0" class="col margin-top-10">
    <table class="table table-bordered table-stripped">
      <tr>
        <th>Location anme</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th *ngIf="permissions.canEditLocation">Actions</th>
      </tr>
      <tr *ngFor="let loc of locationsList | paginate: { itemsPerPage: pagingSize, currentPage: p }">
        <td>{{loc.location}}</td>
        <td>{{loc.latitude}}</td>
        <td>{{loc.longitude}}</td>
        <td *ngIf="permissions.canEditLocation">
          <a title="Edit" (click)="edit(loc.id)" class="btn btn-success"><i class="fa fa-edit color-white"></i></a>
          &nbsp;
          <a title="Delete" (click)="delete(loc.id)" class="btn btn-danger"><i class="fa fa-trash color-white"></i></a>
        </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  <div *ngIf="locationsList.length == 0" class="col-md-12 text-info">
    <i>No locations to show</i>
  </div>
</div>
</div>

<!--<jw-modal id="confirmation-modal">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header bg-info text-white">Confirmation Message</div>
          <div class="card-body text-info">
              Are you sure you want to delete selected location? This action cannot be undone.
          </div>
        </div><br />
        <button class="btn btn-info" (click)="delete()">Yes Delete Location</button>
        &nbsp;
        <button class="btn btn-danger" (click)="closeModal();">No</button>
    </div>
  </div>
</jw-modal>-->