<div class="container-fluid view-area">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/financial-years']">Financial years list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn-info" data-toggle="tab">Create new</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div *ngIf="isError" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{errorMessage}}
          </div>
          <h5 class="card-title text-center">Manage financial year/s</h5>
          <form class="form-signin" (ngSubmit)="yearForm.form.valid && saveFinancialYear()" #yearForm="ngForm">
            <div class="form-group">
              <label>Start date:&nbsp;</label>
              <input type="date" name="startDate" class="form-control" [(ngModel)]="model.startDate" #startDate required />
              <div *ngIf="yearForm.submitted" [hidden]="startDate.valid" class="alert alert-danger">
                Start date is required
              </div>
            </div>
            
            <div class="form-group">
              <label>End date:&nbsp;</label>
              <input type="date" name="endDate" class="form-control" [(ngModel)]="model.endDate" #endDate required />
              <div *ngIf="yearForm.submitted" [hidden]="endDate.valid" class="alert alert-danger">
                End date is required
              </div>
            </div>
            
            <button [class.disable]="isBtnDisabled" class="btn btn-lg btn-info btn-block text-uppercase margin-top-10" type="submit">{{btnText}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<error-modal message="{{errorMessage}}"></error-modal>