<div class="container-fluid view-area">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/financial-years']">Financial years list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn-info" data-toggle="tab">Create new</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div *ngIf="isError" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{errorMessage}}
          </div>
          <h5 class="card-title text-center">Manage financial year/s</h5>
          
          <form class="form-signin" (ngSubmit)="yearForm.form.valid && saveFinancialYear()" #yearForm="ngForm">
            <div class="input-group mb-3">
              <label class="col-md-3">Starting month/year:&nbsp;</label>
              <select class="form-control" name="startingMonth" [(ngModel)]="model.startingMonth" #startingMonth="ngModel">
                <option value="0">--Starting month--</option>
                <option *ngFor="let month of months" value="{{month.id}}">
                  {{month.month}}
                </option>
              </select>
              &nbsp;
              <select class="form-control" name="startingYear" [(ngModel)]="model.startingYear" #startingYear="ngModel">
                <option value="0">--Starting year--</option>
                <option *ngFor="let year of yearsList" value="{{year}}">
                  {{year}}
                </option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="col-md-3">Ending month/year:&nbsp;</label>
              <select class="form-control" name="endingMonth" [(ngModel)]="model.endingMonth" #endingMonth="ngModel">
                <option value="0">--Ending month--</option>
                <option *ngFor="let month of months" value="{{month.id}}">
                  {{month.month}}
                </option>
              </select>
              &nbsp;
              <select class="form-control" name="endingYear" [(ngModel)]="model.endingYear" #endingYear="ngModel">
                <option value="0">--Ending year--</option>
                <option *ngFor="let year of yearsList" value="{{year}}">
                  {{year}}
                </option>
              </select>
            </div>
            
            <button [class.disable]="isBtnDisabled" class="btn btn-lg btn-info btn-block text-uppercase margin-top-10" type="submit">{{btnText}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<error-modal message="{{errorMessage}}"></error-modal>