<div class="container-fluid view-area">
  <block-ui>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Budget report</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form class="form-signin" (ngSubmit)="getBudgetReport()" #searchForm="ngForm">

              <div class="row margin-top-10">
                <div class="col-md-6 form-inline">
                  <label>Currency: </label>&nbsp;&nbsp;
                  <select [class.disable]="manualExRate == 0" class="form-control" (change)="selectCurrency()"
                    id="selectedCurrency" [(ngModel)]="model.selectedCurrency" name="selectedCurrency"
                    #selectedCurrency="ngModel">
                    <option *ngFor="let currency of currenciesList" value="{{currency.currency}}">
                      {{currency.currencyName}}
                    </option>
                  </select>&nbsp;
                  <span *ngIf="manualExRate > 0 && model.selectedCurrency == nationalCurrencyName" class="text-warning">
                    <b><i>Exchange rate: 1 {{defaultCurrency}} = {{manualExRate}} {{nationalCurrencyName}} on {{datedToday}}</i></b>
                  </span>
                  
                  <span *ngIf="manualExRate == 0" class="text-danger">
                    <i>No exchange rate available, contact Administrator.</i>
                  </span>
                </div>
                <div class="col-md-6">
                  <span [class.disable]="!defaultCurrency" class="float-right">
                    <button type="submit" class="btn btn-info">Get Report</button>&nbsp;
                    <!--<button type="button" class="btn btn-primary" (click)="generatePDF()">Get PDF</button>&nbsp;-->
                    <a *ngIf="excelFile" href="{{excelFile}}" class="btn btn-success">Get Excel</a>&nbsp;
                    <button *ngIf="reportDataList && reportDataList.projects" type="button" class="btn btn-warning"
                      (click)="printReport()">Print Report</button>
                  </span>
                </div>
                <div *ngIf="!defaultCurrency" class="col-md-12">
                  <span class="text-danger">
                    Default currency is not set and it may produce errors on reports.
                    Please contact administrator.
                  </span>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-10" id="rpt-budget-report">
      <div *ngIf="reportDataList && reportDataList.reportSettings" class="col-md-12 text-center">
        <h5>{{reportDataList.reportSettings.title}} <small>(Currency: {{this.selectedCurrencyName}})</small></h5>
      </div>
    
      <div class="col-md-12">
    
        <div *ngIf="reportDataList && reportDataList.projects && chartLabels.length > 0" class="margin-bottom-none">
          <table class="table table-striped row-highlight small">
            <thead>
              <th width="25%">&nbsp;</th>
              <th width="15%">&nbsp;</th>
              <th width="12%" *ngFor="let label of chartLabels">
                {{label}}
              </th>
            </thead>
            <tbody>
              <tr title="Click here to view detail" (click)="showDetail(project.id)" *ngFor="let project of reportDataList.projects">
                <td>{{project.title}}</td>
                <td>Disbursements</td>
                <td *ngFor="let d of project.yearlyDisbursements">
                  {{d.disbursements}}
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped small">
            <tbody>
              <tr>
                <td width="25%"><b>Total</b></td>
                <td width="15%"><b>Actual disbursements</b></td>
                <td width="12%" *ngFor="let d of reportDataList.totalYearlyDisbursements">
                  {{d.totalDisbursements}}
                </td>
              </tr>
              <tr>
                <td></td>
                <td><b>Expected disbursements</b></td>
                <td *ngFor="let d of reportDataList.totalYearlyDisbursements">
                  {{d.totalExpectedDisbursements}}
                </td>
              </tr>
            </tbody>
          </table>
          
          <div *ngIf="chartData.length > 0" class="col-md-12 margin-top-30">
            <div class="offset-2 col-md-8">
                <canvas id="chart" baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                [legend]="chartLegend" [chartType]="chartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        </div>
    
      </div>
    </div>

  </block-ui>
</div>

<jw-modal id="disbursement-info-modal">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-info text-white">Disbursements details for {{selectedProject}}</div>
        <div class="card-body text-info">
          <table *ngIf="selectedYearlyDisbursements.length > 0" class="table table-striped">
            <tr>
              <th width="20%">&nbsp;</th>
              <th class="text-center" width="16%" *ngFor="let y of selectedYearlyDisbursements">
                {{y.year}}
              </th>
            </tr>
            <tr>
              <td>Actual disbursements</td>
              <td class="text-center" *ngFor="let d of selectedYearlyDisbursements">
                {{d.actualDisbursements}}
              </td>
            </tr>
            <tr>
              <td>Expected disbursements</td>
              <td class="text-center" *ngFor="let d of selectedYearlyDisbursements">
                {{d.expectedDisbursements}}
              </td>
            </tr>
            <tr>
              <td>Total disbursements</td>
              <td class="text-center" *ngFor="let d of selectedYearlyDisbursements">
                {{d.disbursements}}
              </td>
            </tr>
          </table>
          <span *ngIf="selectedYearlyDisbursements.length == 0" class="text-info">
            <i>No disbursements to show</i>
          </span>
        </div>
      </div><br />
      <button class="btn btn-info float-right" (click)="closeDetail();">Ok</button>
    </div>
  </div>
</jw-modal>

<error-modal message={{errorMessage}}></error-modal>