<block-ui>
  <div class="card padding-20 margin-top-5">
    <div class="container">
      <form class="form-signin" (ngSubmit)="saveDisbursements(financialsForm)"
        #financialsForm="ngForm">
  
        <div class="col-offset-2 col-lg-8 col-md-8">
          <div class="form-group form-inline"> 
            <label class="col-md-3">Currency</label>
            <select class="form-control col-md-9" name="currency" [(ngModel)]="disbursementModel.currency"
                  #currency="ngModel" id="currency" required>
                  <option *ngFor="let currency of currenciesList" value="{{currency.currency}}">{{currency.currencyName}}
                  </option>
                </select>
          </div>
          <div class="form-group form-inline"> 
            <label class="col-md-3">Project value</label>
              <input class="form-control col-md-9" type="text" [readonly]="true" name="projectValue" [(ngModel)]="disbursementModel.projectValue"
              #projectValue="ngModel" id="projectValue" required />
          </div>
  
          <div class="form-group margin-top-30">
          </div>
          
          <div *ngFor="let disbursement of projectDisbursements; trackBy:indexTracker" class="form-group form-inline">
            <label class="col-md-4">
              {{disbursement.year}}&nbsp;
              <span *ngIf="disbursement.disbursementType == 1">Actual</span>
              <span *ngIf="disbursement.disbursementType == 2">Planned</span>
            </label>
            <input type="text" pattern="^\d*(\.\d{0,2})?$" maxlength="13" [disabled]="disbursement.year < currentYear" name="{{disbursement.year}}-{{disbursement.disbursementType}}" [(ngModel)]="disbursement.amount"  class="form-control col-md-8" id="d-{{disbursement.year}}-{{disbursement.disbursementType}}" required />
          </div>
  
          <div class="form-group"> 
            <label class="col-md-4">&nbsp;</label>
            <button type="submit" class="btn btn-info text-uppercase">Save disbursements</button>
          </div>
          
        </div>
  
      </form>
    </div>
  </div>
</block-ui>
<error-modal message={{errorMessage}}></error-modal>