<div class="container-fluid view-area">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active btn-info" data-toggle="tab">Sector types list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/manage-sectortype']">Create new</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter sector type name" [(ngModel)]="criteria"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-info" (click)="searchSectorTypes()" type="button"><i
              class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center" *ngIf="isLoading">
    <div class="col-md-12">
      <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading" class="row">
    <div class="col margin-top-10">
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Sector type name</th>
          <th>Default type</th>
          <th>Source</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let sector of sectorTypesList | paginate: { itemsPerPage: pagingSize, currentPage: p }">
          <td>{{sector.typeName}}</td>
          <td>{{isTrue(sector.isPrimary)}}</td>
          <td>{{isTrue(sector.isSourceType)}}</td>
          <td>
            <a title="Edit" (click)="edit(sector.id)" class="btn btn-info"><i class="fa fa-edit color-white"></i></a>
            <!-->&nbsp;
            <a title="Delete" (click)="delete(sector.id)" class="btn btn-danger"><i class="fa fa-trash color-white"></i></a>-->
          </td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>
</div>