<block-ui>

  <div class="box">
    <div class="row">

      <div class="col-md-6 col-lg-6">
        <form class="form-signin" (ngSubmit)="sectorsForm.form.valid && addSector(sectorsForm)" #sectorsForm="ngForm">
          <h6>Project sectors</h6>
          <div class="row">
            <div class="form-group form-inline col-md-6 col-lg-6">
              <select class="form-control col-md-12" name="sectorType" (change)="getTypeSectorsList()"
                [(ngModel)]="sectorModel.sectorTypeId" #sectorTypeId="ngModel" required>
                <option value="null">--Sector type--</option>
                <option *ngFor="let type of sectorTypesList" [value]="type.id">{{type.typeName}}</option>
              </select>
              <div *ngIf="sectorsForm.submitted" [hidden]="sectorTypeId.valid" class="alert alert-danger">
                Sector type is required
              </div>
            </div>

            <div [class.disable]="(sectorModel.sectorTypeId == defaultSectorTypeId)"
              class="form-group form-inline col-md-6 col-lg-6">
              <select class="form-control col-md-12" name="sectorId" [(ngModel)]="sectorModel.sectorId"
                #sectorId="ngModel" (change)="getSectorMappings()">
                <option value="null">--Sector--</option>
                <option *ngFor="let sector of typeSectorsList" [value]="sector.id">{{sector.sectorName}}</option>
              </select>
              <div *ngIf="sectorsForm.submitted" [hidden]="sectorId.valid" class="alert alert-danger">
                Sector is required
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group form-inline col-md-6 col-lg-6">
              <select class="form-control col-md-12" id="mappingId" [(ngModel)]="sectorModel.mappingId" name="mappingId"
                #mappingId="ngModel" required>
                <option value="null">--{{defaultSectorType}}--</option>
                <option *ngFor="let sector of sectorMappings" [value]="sector.id">{{sector.sectorName}}</option>
              </select>
              <div class="col-md-12 col-lg-12" *ngIf="mappingsCount > 0">

                <!--<span *ngIf="showMappingAuto" class="float-right text-success small">
                  Map manual
                </span>-->
                <span *ngIf="showMappingManual" class="float-left margin-top-2">
                  <button type="button" class="btn btn-info btn-sm" (click)="setManualMappings()">Map manual</button>
                </span>
                <span *ngIf="showMappingAuto" class="float-left margin-top-2">
                  <button type="button" class="btn btn-warning btn-sm" (click)="setAutomaticMappings()">Map
                    auto</button>
                </span>
                <span *ngIf="showMappingManual" class="float-left text-success small margin-left-5">
                  {{mappingsCount}} mapping/s found
                </span>
              </div>
              <div *ngIf="mappingsCount == 0" class="text-warning small"><i>No mappings found</i></div>
              <div *ngIf="sectorsForm.submitted" [hidden]="mappingId.valid" class="alert alert-danger">
                Mapping is required
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="input-group">
                <input type="number" class="form-control col-md-10" id="fundsPercentage"
                  [(ngModel)]="sectorModel.fundsPercentage" placeholder="Percentage" name="fundsPercentage"
                  #fundsPercentage="ngModel" min="1" max="100" required>
                <button [class.disable]="calculateSectorPercentage() >= 100" class="btn btn-sm btn-warning text-uppercase"
                  type="submit">
                  Add sector
                </button>
              </div>
              <div *ngIf="sectorsForm.submitted" [hidden]="(fundsPercentage.value > 0 && fundsPercentage.value < 101)"
                class="alert alert-danger">
                Valid values are (1 to 100)
              </div>
            </div>
          </div>
        </form>

        <div class="col-lg-12 col-md-12 sectors-list-box-small">
          <div class="row">
            <span *ngIf="currentProjectSectors.length > 0" class="float-left text-info col-md-6"><b>Percentage</b>:
              {{calculateSectorPercentage()}}%</span>
            <span class="col-md-6 text-right"><button *ngIf="areUnSavedSectors()" (click)="saveProjectSectors()"
                class="btn btn-info btn-sm text-uppercase">Save sectors</button></span>
          </div>

          <table *ngIf="currentProjectSectors.length > 0" class="table table-striped small margin-top-5">
            <thead>
              <tr>
                <th>Sector</th>
                <th class="text-center">Percentage</th>
                <th class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of currentProjectSectors">
                <td>{{sector.sector}}</td>
                <td class="text-center">{{sector.fundsPercentage}}</td>
                <td class="text-center">
                  <button *ngIf="sector.saved" title="Delete sector" (click)="deleteProjectSector(sector.sectorId)"
                    class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                  <button *ngIf="!sector.saved" title="Remove sector" (click)="removeProjectSector(sector.sectorId)"
                    class="btn btn-warning btn-sm"><i class="fa fa-remove"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <form class="form-signin" (ngSubmit)="locationsForm.form.valid && addLocation(locationsForm)"
          #locationsForm="ngForm">
          <h6>Project locations</h6>

          <div class="row">
            <div class="form-group form-inline col-md-6 col-lg-6">
              <select class="form-control col-md-12" name="locationId" [(ngModel)]="locationModel.locationId"
                #locationId="ngModel" required>
                <option value="null">--Location--</option>
                <option *ngFor="let location of locationsList" [value]="location.id">{{location.location}}</option>
              </select>
              <div *ngIf="locationsForm.submitted" [hidden]="locationId.valid" class="alert alert-danger">
                Location is required
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="input-group">
                <input type="number" class="form-control col-md-10" [(ngModel)]="locationModel.fundsPercentage"
                  placeholder="Percentage" name="lfundsPercentage" #lfundsPercentage="ngModel" min="1" max="100"
                  required>
                <button class="btn btn-sm btn-warning text-uppercase" type="submit">
                  Add location
                </button>
              </div>
              <div *ngIf="locationsForm.submitted"
                [hidden]="(lfundsPercentage.value > 0 && lfundsPercentage.value < 101)" class="alert alert-danger">
                Valid values are (1 to 100)
              </div>
            </div>
          </div>
        </form>
        <div class="col-lg-12 col-md-12 sectors-list-box-small">
          <div class="row">
            <span *ngIf="currentProjectLocations.length > 0" class="float-left text-info col-md-6"><b>Percentage</b>:
              {{calculateLocationPercentage()}}%</span>
            <span class="col-md-6 text-right"><button *ngIf="areUnSavedLocations()" (click)="saveProjectLocations()"
                class="btn btn-info btn-sm text-uppercase">Save locations</button></span>
          </div>

          <table *ngIf="currentProjectLocations.length > 0" class="table table-striped small margin-top-5">
            <thead>
              <tr>
                <th>Location</th>
                <th class="text-center">Percentage</th>
                <th class="text-center">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of currentProjectLocations">
                <td>{{location.location}}</td>
                <td class="text-center">{{location.fundsPercentage}}</td>
                <td class="text-center">
                  <button *ngIf="location.saved" title="Delete location"
                    (click)="deleteProjectLocation(location.locationId)" class="btn btn-danger btn-sm"><i
                      class="fa fa-trash"></i></button>
                  <button *ngIf="!location.saved" title="Remove location"
                    (click)="removeProjectLocation(location.locationId)" class="btn btn-warning btn-sm"><i
                      class="fa fa-remove"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="box margin-top-10">
      <div class="row small">
          <div class="col-md-6">
              <h6>Markers list and settings</h6>
            <div *ngFor="let field of markersList" class="sectors-list-box-small margin-top-10">
              <h6>{{field.fieldTitle}}</h6>
              <div>
                <select class="form-control" *ngIf="checkFieldType(field.fieldType) == 'Dropdown'"
                  [(ngModel)]="fieldModel.dropdownId" (change)="selectFieldValue(field.fieldType, -1, field.id, $event)"
                  name="drp-{{field.id}}">
                  <option value="null">--Select One--</option>
                  <option *ngFor="let val of field.values" value="{{val.id}}">{{val.value}}</option>
                </select>
    
                <table *ngIf="checkFieldType(field.fieldType) == 'Radio'" class="table">
                  <tr>
                    <td *ngFor="let val of field.values">
                      <input type="radio" name="rd-options-{{field.id}}" id="rd-{{val.id}}" [value]="val.isSelected"
                        (click)="selectFieldValue(field.fieldType, val.id, field.id, $event)" />&nbsp;{{val.value}}
                    </td>
                  </tr>
                </table>
    
                <table *ngIf="checkFieldType(field.fieldType) == 'Checkbox'" class="table">
                  <tr>
                    <td *ngFor="let val of field.values">
                      <input type="checkbox" name="chk-{{val.id}}" value="{{val.id}}" [(ngModel)]="val.isSelected"
                        [checked]="checkIfSelected(field.id, val.id)"
                        (click)="selectFieldValue(field.fieldType, val.id, field.id, $event)" />&nbsp;{{val.value}}
                    </td>
                  </tr>
                </table>
    
                <div *ngIf="checkFieldType(field.fieldType) == 'Text'" class="form-group">
                  <input class="form-control" type="text" maxlength="100" id="txt-{{fieldId}}"
                    [(ngModel)]="fieldModel.newText"
                    (blur)="selectFieldValue(field.fieldType, 1, field.id, $event, true)" />
                </div>
    
                <span class="float-right margin-top-10">
                  <button class="btn btn-info btn-sm btn-block text-uppercase" (click)="saveProjectMarkers(field.id)"
                    type="button">Save Fields</button>
                </span>
              </div>
            </div>
            <div *ngIf="markersList.length == 0">
              <span class="text-info"><i>No markers avaialble to show</i></span>
            </div>
          </div>
    
          <div class="col-md-6">
            <div class="sectors-list-box-small">
              <h6 class="card-title">Project markers</h6>
              <table *ngIf="currentProjectMarkers.length > 0" class="table table-bordered margin-top-10">
                <tr>
                  <th>Marker</th>
                  <th>Values</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let field of currentProjectMarkers">
                  <td>{{field.fieldTitle}}</td>
                  <td>{{displayFieldValues(field.values)}}</td>
                  <td>
                    <button id="ffield-{{projectId}}-{{field.markerId}}" (click)="deleteProjectMarker($event)"
                      class="btn btn-danger btn-sm">
                      <i id="ifield-{{projectId}}-{{field.markerId}}" class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </table>
              <span *ngIf="currentProjectMarkers.length == 0" class="text-info">
                <i>No markers set for this project yet</i>
              </span>
            </div>
          </div>
        </div>
  </div>

</block-ui>

<error-modal message={{errorMessage}}></error-modal>