<block-ui>

    <div class="box">
      <form class="form-signin" (ngSubmit)="saveProjectSectors(sectorsForm)" #sectorsForm="ngForm">
        <div class="row">
            <div class="form-group form-inline col-md-3 col-lg-3">
                <select class="form-control col-md-12" name="sectorType" (change)="getTypeSectorsList()"
                  [(ngModel)]="sectorModel.sectorTypeId" #sectorTypeId="ngModel" required>
                  <option value="null">--Sector type--</option>
                  <option *ngFor="let type of sectorTypesList" [value]="type.id">{{type.typeName}}</option>
                </select>
              </div>
      
              <div class="form-group form-inline col-md-3 col-lg-3">
                <select class="form-control col-md-12" name="sectorId" [(ngModel)]="sectorModel.sectorId" #sectorId="ngModel"
                  required>
                  <option value="null">--Sector--</option>
                  <option *ngFor="let sector of typeSectorsList" [value]="sector.id">{{sector.sectorName}}</option>
                </select>
              </div>
      
              <div [class.disable]="(sectorModel.sectorTypeId == defaultSectorTypeId)"
                class="form-group form-inline col-md-3 col-lg-3">
                <select class="form-control col-md-12" id="mappingId" [(ngModel)]="sectorModel.mappingId" name="mappingId"
                  #mappingId="ngModel" required>
                  <option value="null">--{{defaultSectorType}}--</option>
                  <option *ngFor="let sector of sectorMappings" [value]="sector.id">{{sector.sectorName}}</option>
                </select>
                <div class="margin-top-5" *ngIf="mappingsCount > 0">
                  <span *ngIf="showMappingManual" class="float-left text-success">
                    {{mappingsCount}} mapping/s found
                  </span>
                  <span *ngIf="showMappingAuto" class="float-left text-success">
                    Map manually
                  </span>
                  &nbsp;
                  <span *ngIf="showMappingManual" class="float-right">
                    <button type="button" class="btn btn-info btn-sm" (click)="setManualMappings()">Map manual</button>
                  </span>
                  <span *ngIf="showMappingAuto" class="float-right">
                    <button type="button" class="btn btn-warning btn-sm" (click)="setAutomaticMappings()">Map
                      auto</button>
                  </span>
                </div>
                <!--<div *ngIf="mappingsCount == 0" class="text-warning"><i>Map sector manually</i></div>-->
                <div *ngIf="sectorsForm.submitted" [hidden]="mappingId.valid" class="alert alert-danger">
                  Mapping is required
                </div>
              </div>
      
              <div class="col-md-3 col-lg-3">
                <div class="input-group">
                  <input type="number" class="form-control col-md-10" id="fundsPercentage" [(ngModel)]="sectorModel.fundsPercentage"
                    placeholder="Percentage" name="fundsPercentage" #fundsPercentage="ngModel" min="1" max="100" required>
                  <button class="btn btn-sm btn-warning" type="button">
                    Add sector
                  </button>
                </div>
                <div *ngIf="sectorsForm.submitted" [hidden]="fundsPercentage.value > 0" class="alert alert-danger">
                  Valid values for funds percentage are 1 - 100
                </div>
              </div>
        </div>
      </form>
    </div>

</block-ui>