<div class="container-fluid view-area">
  <div class="row text-center">
    <div *ngIf="showMessage" class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Information!</strong> {{infoMessage}}
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>User accounts</h6>
        </div>
        <div class="card-body text-info">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="user" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">126</div>
              <div>Registered users</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col text-center">
            <a [routerLink]="['/user-registration']" class="btn btn-info">
              <span class="pull-left">Register now</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>AIMS Projects</h6>
        </div>
        <div class="card-body text-danger">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="tasks" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">1000</div>
              <div>Recorded projects</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col text-center">
            <a [routerLink]="['/projects']" class="btn btn-danger">
              <span class="pull-left">View projects</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>Partner organizations</h6>
        </div>
        <div class="card-body text-success">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="building" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">85</div>
              <div>Organizations list</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col text-center">
            <a [routerLink]="['/organizations']" class="btn btn-success">
              <span class="pull-left">View information</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
        <div class="card bg-light">
          <div class="card-header">
            <h6>Reports</h6>
          </div>
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <fa name="file" size="5x"></fa>
              </div>
              <div class="col-xs-9 col-md-9 text-right">
                <div class="font-dashboard-menu-item">15</div>
                <div>Data reports</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col text-center">
              <a [routerLink]="['/project-report']" class="btn btn-primary">
                <span class="pull-left">View project report</span>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="row margin-top-20">
  </div>