<div class="container-fluid view-area">

  <div class="row text-center">
    <div *ngIf="showMessage" class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Information!</strong> {{infoMessage}}
    </div>
  </div>


  <div class="row">

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <span class="float-left">
            <h6>User accounts</h6>
          </span>
          <span class="float-right">
            <a [routerLink]="['/user-registration']" class="btn btn-warning btn-sm">
              <span class="pull-left">Register now</span>
            </a>
          </span>
        </div>
        <div class="card-body text-info">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="user" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">{{usersCount}}</div>
              <div>Registered users</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>AIMS Projects</h6>
        </div>
        <div class="card-body text-danger">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="tasks" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">{{projectsCount}}</div>
              <div>Recorded projects</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>Partner organizations</h6>
        </div>
        <div class="card-body text-success">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="building" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">{{organizationsCount}}</div>
              <div>Registered organizations</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-6">
      <div class="card bg-light">
        <div class="card-header">
          <h6>Disbursements for {{currentYear}}</h6>
        </div>
        <div class="card-body text-primary">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <fa name="money" size="5x"></fa>
            </div>
            <div class="col-xs-9 col-md-9 text-right">
              <div class="font-dashboard-menu-item">{{currentYearDisbursements}}</div>
              <div>{{defaultCurrency}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row margin-top-20">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card bg-light">
        <div class="card-header">
          <span class="float-left">
            <h6>Introduction</h6>
          </span>
        </div>
        <div class="card-body text-default">
          <p>
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
          </p>

          <p>
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
            This is the introductory paragraph. We may put any information here, this sample text will
            only give us idea about how it will look like.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card bg-light">
        <div class="card-header">
          <span class="float-left">
            <h6>Recent projects</h6>
          </span>
        </div>
        <div class="card-body text-info">
        </div>
      </div>
    </div>

  </div>