<div class="col-lg-12 col-md-12 card padding-20 margin-top-5">
    <form class="form-signin" (ngSubmit)="projectForm.form.valid && saveProject(projectForm)" #projectForm="ngForm">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-2 col-form-label justify-left" for="title">Name</label>-->
              <input placeholder="Project name/title" title="Project name/title" class="form-control col-sm-12" type="text" name="title" [(ngModel)]="projectData.title" #title="ngModel"
                id="title" required>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="title.valid" class="alert alert-danger">
              Project title is required
            </div>
          </div>
      
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-4 col-form-label" for="startingFinancialYear">Starting year</label>-->
              <select title="Starting financial year" class="form-control col-sm-12" name="startingFinancialYear"
                [(ngModel)]="projectData.startingFinancialYear" #startingFinancialYear="ngModel" id="startingFinancialYear"
                required>
                <option>--Starting year--</option>
                <option *ngFor="let year of financialYears" value="{{year.financialYear}}">{{year.financialYear}}</option>
              </select>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="startingFinancialYear.valid" class="alert alert-danger">
              Starting year is required
            </div>
          </div>
      
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-4 col-form-label" for="endingFinancialYear">Ending year</label>-->
              <select title="Ending financial year" class="form-control col-sm-12" name="endingFinancialYear" [(ngModel)]="projectData.endingFinancialYear"
                #endingFinancialYear="ngModel" id="endingFinancialYear" required>
                <option *ngFor="let year of financialYears" value="{{year.financialYear}}">{{year.financialYear}}</option>
              </select>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="endingFinancialYear.valid" class="alert alert-danger">
              Ending year is required
            </div>
          </div>
        </div>
      
        <div class="row">
        
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-2 col-form-label float-left" for="title">Currency</label>-->
              <select title="Project currency" class="form-control col-sm-12" name="currency" [(ngModel)]="projectData.projectCurrency"
                #projectCurrency="ngModel" id="projectCurrency" required>
                <option>--Select currency--</option>
                <option *ngFor="let currency of currenciesList" value="{{currency.currency}}">{{currency.currencyName}}</option>
              </select>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="projectCurrency.valid" class="alert alert-danger">
              Project currency is required
            </div>
          </div>
        
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-4 col-form-label float-left" for="title">Project value</label>-->
              <input placeholder="Project value (0.00)" title="Project value" class="form-control col-sm-12" type="number" maxlength="10" name="projectValue"
                [(ngModel)]="projectData.projectValue" #projectValue="ngModel" id="projectValue" required>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="projectValue.valid" class="alert alert-danger">
              Project value is required
            </div>
          </div>
        
        
          <div class="col-lg-4 col-md-4">
            <div class="form-group form-inline">
              <!--<label class="col-sm-4 col-form-label float-left" for="fundingType">Funding type</label>-->
              <select title="Funding type" class="form-control col-sm-12" name="fundingTypeId" [(ngModel)]="projectData.fundingTypeId"
                #fundingTypeId="ngModel" id="fundingTypeId" required>
                <option>--Funding type--</option>
                <option *ngFor="let fType of fundingTypesList" value="{{fType.id}}">{{fType.fundingType}}</option>
              </select>
            </div>
            <div *ngIf="projectForm.submitted" [hidden]="fundingTypeId.valid" class="alert alert-danger">
              Funding type is required
            </div>
            
          </div>
        </div>
      
        <div class="row margin-top-10">
          <div class="col-lg-6 col-md-6">
            <div class="form-group form-inline">
              <label class="col-sm-1 col-form-label justify-left" for="funders">Funders</label>
              <ng-multiselect-dropdown class="col-sm-11" [placeholder]="'Select funders'" [data]="organizationsList"
                [(ngModel)]="funderModel.selectedFunders" [settings]="fundersSettings" name="selectedFunders"
                #selectedFunders="ngModel">
              </ng-multiselect-dropdown>
            </div>
        
          </div>
        
          <div class="col-lg-6 col-md-6">
            <div class="form-group form-inline">
              <label class="col-sm-2 col-form-label float-left" for="implementers">Implementers</label>
              <ng-multiselect-dropdown class="col-sm-10" [placeholder]="'Select implementers'" [data]="organizationsList"
                [(ngModel)]="implementerModel.selectedImplementers" [settings]="implementersSettings"
                name="selectedImplementers" #selectedImplementers="ngModel">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
      
        <div class="row margin-top-10">
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label for="title">Project description <span class="text-info">(Max characters: {{descriptionLimit}} Left:
                  {{descriptionLimitLeft}})</span></label>
              <textarea class="form-control" id="description" (input)="getDescriptionLimitInfo()"
                [(ngModel)]="projectData.description" name="description" #description="ngModel" rows="5"
                maxlength="{{descriptionLimit}}">
                        </textarea>
            </div>
          </div>
        </div>
      
        <div class="row">
          <table width="100%">
            <tr>
              <td width="40%">
                <input type="text" placeholder="Resource name" class="form-control" maxlength="50" name="document" [(ngModel)]="documentModel.document" #document="ngModel" />
              </td>
              <td width="40%">
                <input type="url" placeholder="Link to resource" class="form-control" maxlength="255" name="documentUrl" [(ngModel)]="documentModel.documentUrl" #documentUrl="ngModel" />
              </td>
              <td width="10%">
                <button type="button" class="btn btn-warning" (click)="addResource()">Add resource</button>
              </td>
              <td width="10%">
                <button class="btn btn-info text-uppercase" type="submit">Save data</button>
              </td>
            </tr>
          </table>
        </div>
      
        <div class="row">
          <table *ngIf="projectDocuments.length > 0" class="table table-striped small margin-top-5">
            <thead>
              <tr>
                <th>Resource name</th>
                <th>Link</th>
                <th>Action</th>
              </tr>
            </thead>
            <tr *ngFor="let document of projectDocuments">
              <td>{{document.documentTitle}}</td>
              <td>{{document.documentUrl}}</td>
              <td *ngIf="document.id <= 0">
                <a class="btn btn-warning" (click)="removeResource(document.id)"><i class="fa fa-remove"></i></a>
              </td>
              <td *ngIf="document.id > 0">
                <a class="btn btn-danger" (click)="deleteResource(document.id)"><i class="fa fa-trash text-white"></i></a>
              </td>
            </tr>
          </table>
          <span *ngIf="projectDocuments.length == 0" class="text-info margin-top-20"><i>No resource links to show</i></span>
        </div>
        
      </form>
</div>
<error-modal message={{errorMessage}}></error-modal>

