<div class="container-fluid view-area">

  <block-ui>
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active btn-info" data-toggle="tab">Currencies List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/manage-currency']">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" data-toggle="tab" [routerLink]="['/rate-settings']">Ex. Rates Settings</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter currency name" [(ngModel)]="criteria"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="searchCurrencies()" type="button"><i
                class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center" *ngIf="isLoading">
      <div class="col-md-12">
        <img src="assets/images/loader-md.gif" /><span>&nbsp;Loading...</span>
      </div>
    </div>

    <div *ngIf="!isLoading" class="row">
      <div *ngIf="currenciesList.length > 0" class="col margin-top-10">
        <table class="table table-bordered table-stripped">
          <tr>
            <th>Currency Name</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let currency of currenciesList | paginate: { itemsPerPage: pagingSize, currentPage: p }">
            <td>{{currency.currency}}</td>
            <td>
                <a title="Delete" (click)="edit(currency.id)" class="btn btn-info"><i
                  class="fa fa-edit color-white"></i></a>&nbsp;

              <a title="Delete" (click)="delete(currency.id)" class="btn btn-danger"><i
                  class="fa fa-trash color-white"></i></a>
            </td>
          </tr>
        </table>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div>
      <div class="col-md-12 text-info" *ngIf="currenciesList.length == 0">
        <i>No currencies to show</i>
      </div>
    </div>

  </block-ui>
</div>

<error-modal message="{{errorMessage}}"></error-modal>